html,body{
    margin: 0;
    background-color: #9CC873;
    width: 1000px;
}
#container{
    height: 500px;
    width: 1000px;
    margin-top: 200px;
    position: relative;
    /*background-color: #b3d4fc;*/
}
.head{
    position: absolute;
    top :0px;
    left: 61.5%;
    background-color: #4D391E;
    width: 10%;
    height: 20%;
    border-radius: 100px;
    border: black solid 10px;
    /*margin: 200px auto;*/
}
.eye1{
    position: absolute;
    left: 61.7%;
    top: 5.8%;
    width: 42px;
    height: 21px;
    border-radius: 50px 50px 0 0;
    border-left: black solid 10px;
    border-right: black solid 10px;
    border-top: black solid 10px;
}
.eye1:before{
    content: "";
    position: absolute;
    left: 42px;
    top: -10px;
    width: 42px;
    height: 21px;
    border-radius: 50px 50px 0 0;
    border-left: black solid 10px;
    border-right: black solid 10px;
    border-top: black solid 10px;
}
.eye2{
    position: absolute;
    left: 61.7%;
    top: 10%;
    width: 42px;
    height: 21px;
    border-radius: 0 0 50px 50px;
    border: black solid 10px;
    background-color: #F4D731;

}
.eye2:before{
    content: "";
    position: absolute;
    left: 42px;
    top: -10px;
    width: 42px;
    height: 21px;
    border-radius: 0 0 50px 50px;
    border: black solid 10px;
    background-color: #F4D731;
}
.eye3{
    position: absolute;
    left: 62.3%;
    top: 11.2%;
    width: 24px;
    height: 12px;
    border-radius: 0 0 12px 12px;
    /*border: #222222 solid 10px;*/
    background-color: black;
    animation: eye_move 8s linear infinite;
}
.eye3:before{
    content: "";
    position: absolute;
    left: 51px;
    top: 0px;
    width: 24px;
    height: 12px;
    border-radius: 0 0 12px 12px;
    /*border: #222222 solid 10px;*/
    background-color: black;
}
.mouth{
    position: absolute;
    left: 66.4%;
    top: 15%;
    border: transparent solid 10px;
    border-top: black solid 25px;
}
.ear{
    position: absolute;
    left: 72.5%;
    top: 0.2%;
    border: transparent solid 7px;
    border-bottom: black solid 25px;
    transform: rotate(45deg);
}
.ear:before{
    content: "";
    position: absolute;
    left: -87px;
    top: 70px;
    border: transparent solid 7px;
    border-bottom: black solid 25px;
    transform: rotate(-95deg);
}
.leg1{
    position: absolute;
    top: 22%;
    left: 68.5%;
    width: 10px;
    height: 25px;
    background-color: black;
}
.leg1:before{
    content: "";
    position: absolute;
    /*top: 110px;*/
    left: -30px;
    width: 10px;
    height: 25px;
    background-color: black;
}
.leg2{
    position: absolute;
    top: 27%;
    left: 61.5%;
    width: 120px;
    height: 10px;
    background-color: black;
}
.leg3{
    position: absolute;
    top: 26.4%;
    left: 60.5%;
    width: 15px;
    height: 15px;
    border-radius: 8px;
    background-color: black;
}
.leg3:before{
    content: "";
    position: absolute;
    left: 120px;
    width: 15px;
    height: 15px;
    border-radius: 8px;
    background-color: black;
}
@keyframes eye_move {
    0%{ left: 62.3%; }
    20%{ left: 63.5%; }
    40%{ left: 63.5%; }
    60%{ left: 64.7%; }
    80%{ left: 63.5%; }
    90%{ left: 63.5%; }
    100%{ left :62.3%; }
}
